# Mac
.DS_Store
Icon
._*
.Spotlight-V100

# SublimeText
/*.sublime-project
*.sublime-workspace
*.sublime-project
.idea/*

# Node
node_modules

# Grunt
.grunt/

# compiled code
dist/*

# Debugging Files
debug/*
!debug/sample.html
